
@import "var";

html, body {
  top: 0; 
  left: 0; 
  position: absolute;
  width: 100%; height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(216deg, #6B6E70, #414243 25%, black 60%);
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-size:cover;
  z-index: -50;
}

.last-updated {
  padding: 1.2em;
  margin-top: 4em;
  font-family: 'Roboto Mono';
  font-size: 16px;
  color: white;
}

.social-links {
  display: flex;

  .social-link {
    text-align: center;
    
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    &:hover {
      transform: scale(1.1);
      animation-name: bounce;
    }

    @keyframes bounce {
      0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
    }
  }
  
  .restyle-icon {
    color: $deep;
    font-size: 1.3em;
    padding: 1.2em;
    margin-right: 1.3em;

    &:hover {
      color: $tone1;
      transition: 0.2s ease-in-out;
    }
  }
}

.home-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 2em;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono';
  font-size: 8px;
  text-decoration: none;
  color: white;
}

.home-wrapper {
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  .home-content {
    padding-left: 20vw;
    padding-top: 10vh; 
  }

  .home-content-inner {
    padding: 1.2em;
  }

  h1 {
    color: $typer;
    font-weight: 600;
    font-family: 'Roboto Mono';
    font-size: 40px;
    margin: 0;
  }

  h2 {
    display: flex;
    color: $tone1;
    font-family: 'Roboto Mono';
    font-size: 20px;

    .describe_1 {
      animation: describe1;
    }

    .describe_2 {
      animation: describe2;
    }

    .describe_3 {
      animation: describe3;
    }

    span[class*='describe'] {
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      position: relative;
      animation-duration: 15s;
      animation-timing-function: steps(25, end);
      animation-iteration-count: infinite;

      &::after {
        content: "|";
        color: white;
        animation: caret infinite;
        animation-duration: 1s;
        animation-timing-function: steps(1, end);
      }
    }

    @keyframes caret {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }

    @keyframes describe1 {
      0%, 33%, 66%, 100% {
        width: 0;
      }
      10%, 23% {
        width: 18em;
      }
    }

    @keyframes describe2 {
      0%, 33%, 66%, 100% {
        width: 0;
      }
      43%, 56% {
        width: 20em;
      }
    }

    @keyframes describe3 {
      0%, 33%, 66%, 100% {
        width: 0;
      }
      76%, 90% {
        width: 15em;
      }
    }
  }

  .previous-exp {
    margin-top: 3em;
    color: $tone1;
    font-family: 'Roboto Mono';

    .exp-item {
      margin-top: 30px;
    }

    a {
      color: $tone1;
    }

    p {
      font-size: 11px;
    }

    h3 {
      color: $typer;
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }
  }
}

.return-to-safety {
  margin-top: 3em;
  color: $tone1;
  font-family: 'Roboto Mono';
  font-size: 11px;

  a {
    color: $tone1;
  }
}

/* .home-nav {
  z-index: 10;
}

.nav-content {
  .nav-links {
    display: flex;
    list-style-type: none;
    float: right;
    position: relative;
    margin: 0;
    padding: 0;
    top: 20px;
    transition: opacity .35s ease .75s;

    margin-right: 5vmin !important;

    li {
      padding: 3vmin;
    }

    .home-nav-link {
      font-family: 'Roboto Mono';
      font-size: 18px;
      text-decoration: none;
      color: white;
    }
  }
}

.card-404 {
  background-color: black;
  width: 60%;
  height: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  border-radius: 20px;

  .card-404-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    color: $typer;
    font-weight: 600;
    font-family: 'Roboto Mono';
    font-size: 6vmin;
    margin: 0;
  }

  h2 {
    color: $tone1;
    font-family: 'Roboto Mono';
    font-size: 3vmin;
  }

  button {
    border-radius: 5px;
    padding: 8px;
    font-size: 1em;
    margin: 2vmin;
    border: none;
    font-family: 'Roboto Mono';
    cursor: pointer;
    color: $shade;
  }

  button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: blacks;
  }
}

.about-me-wrapper {
  background-color: black;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  padding: 10px;
  align-items: center;

  .circular-profile {
    width: 300px;
    height: 300px;
    margin: 2vmin;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
    img {
      position: absolute;
      left: 0%;
      transform: scale(0.2) translate(-225%, -215%);
    }
  }

  h1 {
    color: $typer;
    font-weight: 600;
    font-family: 'Roboto Mono';
    font-size: 3em;
    margin: 0;
  }

  h2 {
    color: $tone1;
    font-family: 'Roboto Mono';
    font-size: 1em;
    width: 40%;
  }

  .about-work {
    font-family: 'Roboto Mono';
    color: $tone1;
  }
}

.check-out {
  display: flex;
  padding: 0;
  color: $tone1;
  
  li {
    margin: 2vmin;
    list-style-type: none;
    flex: 1;
    text-align: center;
    padding: 0.2em;

    &:hover {
      transition: 0.3s ease-in-out;
      cursor: pointer;
      background: $shade;
      border-radius: 20px;
      color: $typer;
    }
  }
} */